includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        # Add ignored errors here if needed

    excludePaths:
        - ./*/*/FileToBeExcluded.php
